html
  block title
  link(rel="stylesheet", href="/css/bootstrap.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href="#") Exam Result
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(aria-current="page" href="/" class =(pageTitle ==='Exam result : Home' ? 'active' : '') ) Home
            li.nav-item
              a.nav-link(href="/registration" class =(pageTitle ==='Exam Result : Registration' ? 'active' : '') ) Registration
            li.nav-item
              a.nav-link(href="/result" class =(pageTitle ==='Exam Result : Result' ? 'active' : '') ) Result
            li.nav-item
              a.nav-link(href="/about" class =(pageTitle ==='Exam Result : About us' ? 'active' : '') ) About us
  block content